@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
    font-family: 'Sora', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.zoom-box {
    transition: transform .2s;
 }
  
.zoom-box:hover {
    transform: scale(1.1);
}

.gray{
    filter: grayscale(100%)
}

.buttonClick{
    cursor: pointer;
}